body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin: 15px;
  }

.content {
  background: #e3f4ff;
  margin: 15px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  display: block;
  padding: 10px;
  
}