div {
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

p{
    color: white;
    background-color: green;
    font-size: x-large;
}
button{
    color: black;
    background-color: orange;
    font-size: x-large;

}